<%= form_for(@puzzle_table) do |f| %>
  <% if @puzzle_table.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@puzzle_table.errors.count, "error") %> prohibited this puzzle_table from being saved:</h2>

      <ul>
      <% @puzzle_table.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :category_id %><br />
    <%= f.text_field :category_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
<div class="field">
    <%= f.label :width %><br />
    <%= f.number_field :width %>
  </div>
  <div class="field">
    <%= f.label :height %><br />
    <%= f.number_field :height %><br />
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
