<div class="sign_in_content">

<h2 class="register_title">Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div class="submit"><%= f.submit "Sign in" %></div>
  
  <% if devise_mapping.rememberable? -%>
  <div>
    <div><%= f.label :remember_me %></div><div><%= f.check_box :remember_me %> </div>
  </div>
  <% end -%>
<% end %>

<%= render :partial => "devise/shared/links" %>
  
</div>