<!DOCTYPE html>
<html>
<head>
  <title>PictureWall</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <!-- header starts here -->
    <div id="header" class="header">
      <div class="hello_user"> 
        <%= greetings %>
      </div>
      <!-- user menu starts here -->
      <div id="usermenu" class="usermenu">
        <%=render "user_bar" %>
      </div>
      <!-- user menu ends here -->
    </div>
    <!-- header ends here -->
     <!-- wrapper starts here -->
  <div class="wrapper">
    <!--main content starts here -->
    <div id="main content" class="main content"'>
         <p class="notice"><%= notice %></p>
         <p class="alert"><%= alert %></p>
         <%= yield %>
    </div>
    <!--main content ends here -->
  </div>
  



</body>
</html>
