<div class="puzzle_table">
  <table data-puzzle-table="<%= puzzle_table.id %>">
    <%(1..puzzle_table.height).each do |row| %>
      <tr>
        <%(1..puzzle_table.width).each do |col| %>
          <td class="puzzle">
            <%if table[row] && table[row][col] %>
              <%puzzle=table[row][col]%>
              <div class="block1" id="puzzle_<%=puzzle.id%>">
                <%if puzzle.image.exists?%>
                  <%= link_to(image_tag(puzzle.image.url(:thumb), :alt=>"Title") ,  puzzle.image.url, :rel => "prettyPhoto[pp_gal]", :title => "", :custom =>true, 'data-puzzle' => puzzle.id) %>
                <%else%>

                <%end%>   
                <div class="edit_link" style="display:none;">
                  <%= link_to "edit", edit_puzzle_table_puzzle_path(puzzle_table,puzzle) %>
                </div>
                <div class="like_link" style="display:none">
                  <%= link_to 'Like', like_puzzle_table_puzzle_path(puzzle_table,puzzle), :method => :post, :remote => true, :class => "like-puzzle" %>
                </div>
                <%if current_user && current_user.liked_puzzle?(puzzle)%>
                <%= image_tag "heart.png",:remote => true %>
                <%end%>
              </div>

            <%else%>
              <%= link_to "new_puzzle", new_puzzle_table_puzzle_path(puzzle_table,{:x => col, :y => row}) %>
            <%end%>

          </td>
        <%end%>
      </tr>
    <%end%>

  </table>
</div>
