<div class="title"><%= @puzzle_table.category.name %></div>
<%=render :partial => "puzzles", :locals => { :puzzle_table => @puzzle_table, :table => puzzles_to_table(@puzzles) }%>
<div>
  <h1>Comments</h1>
  <ul>
    <%  @puzzle_table.comments.each do |comment|%>
      <li>
        <div class="comment">
          <p>
            <%= comment.user.email %>
            <p><%= comment.body %></p>
            <p>
              <small> posted on: <%= comment.created_at %> </small>
            </p>
          </p>  
          <% if (current_user && current_user.admin)  %>
              <%= link_to "Edit", edit_puzzle_table_comment_path(@puzzle_table, comment) %>
              <%= link_to 'Destroy', [@puzzle_table, comment], confirm: 'Are you sure?', method: :delete %>
            <%end%>
        </div> 
      </li>
    <%end%>
  </ul>
  
  <%= form_for([@puzzle_table, @puzzle_table.comments.new]) do |f| %>
   
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <%end%>
  
</div>
<%= render "pretty_photo_config"  %>